{% extends "bootstrap/base.html" %}

{% block title %}睡罗汉's 主页{% endblock %}
<head>
<link rel="stylesheet" type="text/css" href='{{url_for('static', filename='main.css')}}'/>
</head>
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">睡罗汉，16万</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">主页</a></li>
                <li><a href="/about">关于</a></li> 
                <!-- <li><a href="/">联系我</a></li> -->
                {% if current_user.is_authenticated %}
                <li><a href="/editor">编辑</a></li>
                <li><a href="/post-article">上传博文</a></li>
                <li><a href="/logout">登出</a></li>
                {% else %}
                <li><a href="/login">Hi~Stranger</a></li>
                {% endif %}
            </ul>
        </div>      
    </div>
</div>
{% endblock %}
{% block scripts%}
{{ super() }}
{{ moment.include_moment() }}
{%endblock%}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flash>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}


